
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  
  h1 {
    color: #333;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    border: 1px solid #333;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #333;
    color: white;
  }
  
  /* button a {
    text-decoration: none;
    color: white;
    padding: 8px 12px;
    margin: 2px;
    border: none;
    cursor: pointer;
  }
  
  button a:hover {
    background-color: #555;
  } */
 .btn{
    text-decoration: none;
    color: white;
    padding: 0;
    margin: 2px;
    border: none;
    cursor: pointer;
 }